*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: darkcyan;
    padding: 30px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
hyphe